* {
    margin: 0;
    padding: 0;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 62, 80);
    border-bottom: 10px solid rgb(60, 0, 255, 0.7);
    box-shadow: 0px 0px 100px rgb(255, 132, 0);
    padding: 10px 20px
}

header > h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(236, 240, 241);
    text-shadow: 2px 2px 2px black;

}

nav {
    text-align: right;
}


a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;

}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
}


