.wrapper-skill {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.wrapper-skill .skill.tec {
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill:nth-child(odd) {
    margin-right: 100px;
}

.wrapper-skill .progress-bar {
    width: 320px;
}